:root {
  --dark: #16191c;
  --dark-x: #1e2126;
  --light: #ffffff;
  --orange: #ff4400;
}

body {
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
  color: var(--light);
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

input[type='file'] {
  display: none;
}

.upload {
  color: var(--orange);
  height: 60px;
  width: 250px;
  background-color: var(--light);
  position: aboslute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.upload:hover {
  background-color: var(--orange);
  color: var(--light);
}

.btn-circle.btn-xl {
  background-color: var(--orange);
  width: 70px;
  height: 70px;
  position: aboslute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 100%;
  border-color: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-circle.btn-xl:hover {
  background-color: var(--light);
  border-color: var(--light);
  color: var(--orange);
}

.justifierandextrahours {
  color: var(--light);
  height: 20px;
  width: 340px;
  background-color: var(--dark);
  position: aboslute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.justifierandextrahours:hover {
  color: var(--orange);
  height: 20px;
  width: 340px;
  background-color: var(--light);
  position: aboslute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.bg-dark {
  background-color: var(--dark) !important;
}

.bg-dark-x {
  background-color: var(--dark-x) !important;
}

.form-control,
.btn {
  min-height: 3.125rem;
  line-height: initial;
}

.img-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url('../images/crafting.jpg');
  background-size: cover;
  background-position: center;
}

.img-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url('../images/handyman.jpg');
  background-size: cover;
  background-position: center;
}

.img-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url('../images/carpenter.jpg');
  background-size: cover;
  background-position: center;
}

.img-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url('../images/working.jpg');
  background-size: cover;
  background-position: center;
}

.img-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95)), url('../images/planning.jpg');
  background-size: cover;
  background-position: center;
}